/*
 * TeamSpeak 3 Default Qt StyleSheet
 * Special file for macOS in dark mode, loaded in addition to global default.qss stylesheet
 *
 * Copyright (c) TeamSpeak Systems GmbH
 */

ImprovedTabBar::tab {
	color: white;
}
