/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #23232380; //#1E2127
    background-alt: #cdcdcd80; //#983c55
    foreground:     #FFFFFFFF; //#FFFFFF
    selected:       #75757580; //#983c55
    active:         #808080FF; //#98C379
    urgent:         #cdcdcd75; //#E06C75
}
